[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"

[dev-packages]
mypy = "*"
hypothesis = "*"
pytest = "*"
isort = "*"

[requires]
python_version = "3.6"
