[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = {version = "*", markers = "python_version < '3.7'"}

[dev-packages]
mypy = "*"
hypothesis = "*"
pytest = "*"
isort = "*"

[requires]
python_version = "3.6"
